{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>



	<link  href="/public/css/main.css"    type="text/css"     rel="stylesheet">
	<link  href="/public/img/favicon.ico" type="image/x-icon" rel="icon"/>
	<link  href="/public/img/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css"                  rel="stylesheet" >
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css"         rel="stylesheet" >
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >


</head>
<body>
{{end}}
